@import "./reset.css";
@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,600);
@import "./buttons.css";
@import "./nav-icon.css";
@import "./mobile-nav.css";

body {
    font-family: "Poppins", sans-serif;
    color: #161414;
}

.none {
    display: none !important;
}

.header {
    padding: 31px 0 100px;
    height: 800px;
    color: #fff;
    background-color: black;
    background-image: url("./../img/header-img/header-bg.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 0 0 54px 54px;
}

.header a {
    color: #fff; 
}

.header a:hover {
    color: #D4C17F; 
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 32px;
}

.container--header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */ 
}

/* Nav */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.logo {
    flex-shrink: 0;
}

/* Nav list */

.nav-list {
    display: flex;
    column-gap: 54px;
    font-size: 14px;
    font-weight: 300px;
    text-transform: capitalize;
}

.nav-list__link {
    opacity: 0.7;
}

.nav-list__link--active {
    opacity: 1;
}

/* User */

.user {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.user__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user__greeting {
    display: block;
    opacity: 0.5;
}

.user__name {
    font-weight: 600;
}

.user__avatar {
    position: relative;
}

.user__avatar::after {
    position: absolute;
    right: 0;
    top: 0;
    
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #FF0000;
    border-radius: 50%;
}

.user__img {
    border-radius: 50%;
}

/* Header content */

.header__content {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
    text-align: center;
}


.header__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.3;
}

/* Form */ 

.form {
    display: flex;
    align-items: center;
    align-self: center;

    width: 1140px;
    height: 88px;
    padding: 8px;
    
    background-color: #fff;
    color: #000;
    border-radius: 12px;
}

.form__input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 16px 56px;

    background-repeat: no-repeat;
    background-position: 16px 24px;
}

.form__input--location {
    width: 300px;
    background-image: url("./../img/header-img/location-icon.svg");
    
}

.form__input--activity {
    width: 255px;
    background-image: url("./../img/header-img/activity-icon.svg");
}

.form__input--date {
    width: 255px;
    background-image: url("./../img/header-img/calendar-icon.svg");
}

.form__input--guests {
    width: 255px;
    background-image: url("./../img/header-img/guest-icon.svg");
}

.form__label {
    font-size: 14px;
    font-weight: 300;
    color: #5B5B5B;
}

.form__input {
    color: #161414;
    font-weight: 500;
    font-size: 16px;
}


.form__input::placeholder {
    color: #000;
}

/* MAIN */

.title-1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
    color: #161414;
}

.main {
    padding: 120px 0;
    display: grid;
    gap: 120px;
}

.section__header {
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__cards {
    display: grid;
    gap: 32px;
}

.section__cards--6-in-row {
    grid-template-columns: repeat(6, 1fr);
}

.section__cards--4-in-row {
    grid-template-columns: repeat(4, 1fr);
}

.section__cards--2-in-row {
	grid-template-columns: repeat(2, 1fr);
}

/* CARD */ 

.card {
    position: relative;
  
}

.card--wide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.card__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.card__img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 8px;
    object-fit: cover;
    transition: transform 0.2s ease-in;
}

.card:hover .card__img{
    transform: scale(1.05);
    filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__img--hotel {
    margin-bottom: 10px;
}

.card__img--no-margin {
    margin: 0;
}

.card__title {
    color: #161414;
    font-size: 16px;
    font-weight: 500;
}

.card__title--hotel {
    margin-bottom: 12px;
}

.card__location {
    position: relative;
    z-index: 1;
    color: #979797;
    font-size: 13px;
}

.card__location:hover {
    color: #7B61FF;
}

.card__location-icon {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0px 1px;
    background-image: url(./../img/hotelsandrest-cards/location.svg);
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__rating {
    display: flex;
    align-items: center;
    gap: 2px;
}

/* Tips */

.card__desc {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.card__title--big {
    color: #161414;
    font-weight: 600;
    font-size: 20px;
}

.card__text {
    color: #5B5B5B;
    font-size: 16px;
    line-height: 2;
}

.card__footer--wide {
    margin-top: auto;
}

.card__footer-link {
    position: relative;
    z-index: 1;
    font-size: 12px;
    color: #878787;

    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.card__footer-link:hover {
    color: #7B61FF;
}

.card__footer-link--date {
    background-image: url('./../img/tips-cards/calendar.svg');
}

.card__footer-link--author {
    background-image: url('./../img/tips-cards/user.svg');
}

.card__footer-link--comments {
    background-image: url('./../img/tips-cards/comment.svg');
}

/* About Us */

.about-us {
    margin: 0 auto;
    max-width: 1144px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}
.about-us__desc {
    display: grid;
    gap: 32px;
    align-content: center;
}

.about-us__title {
    font-size: 32px;
    font-weight: 600;
}

.about-us__text {
    font-size: 16px;
    color: #5B5B5B;
    line-height: 2;
}

.about-us__btn {
    justify-self: flex-start;
}

.about-us__img {
    border-radius: 24px;
}

/* Footer */

.footer {
    padding: 120px 0;
    background-color: #F9F9F9;
}

.footer__row {
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(3, auto);
}

.footer__copyright {
    max-width: 354px;
    display: grid;
    gap: 16px;
}

.footer__text {
    margin-bottom: 16px;
    font-size: 13px;
    color: #5B5B5B;
}

.footer__socials {
    display: flex;
    gap: 32px;
    align-items: center;
}

/* Footer Nav */

.footer__nav-wrapper {
    display: flex;
    gap: 64px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__nav-title {
    font-size: 18px;
    font-weight: 500;
}

.footer__nav-list {
    display: grid;
    grid-template: 12px;
}

.footer__nav-link {
    color: #5B5B5B;
    font-size: 13px;
}

.footer__nav-link:hover {
    color: #7B61FF; 
}

/* Subscribe */

.footer__subscribe {
    max-width: 388px;
}

.footer__subscribe-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}

.subscribe {
    display: flex;
    gap: 16px;
}

.subscribe__input-wrapper {
    position: relative;
    flex-grow: 9;
}

.subscribe__input {
    padding: 32px 20px 16px 56px;

    width: 100%;
    height: 72px;
    background-color: #fff;
    border-radius: 12px;

    background-image: url('./../img/footer-img/mail-icon.svg');
    background-repeat: no-repeat;
    background-position: 18px 27px;
}

.subscribe__label {
    position: absolute;
    top: 26px;
    left: 56px;

    font-size: 14px;
    font-weight: 300;
    color: #5B5B5B;

    transition: all 0.2s ease-in;
    pointer-events: none;
}

.subscribe__input:focus ~ .subscribe__label,
.subscribe__input:valid ~ .subscribe__label {
    top: 16px;
}

.subscribe__label--top {
    top: 16px;
}